.md-typeset div.arithmatex  {
    font-size: .8rem;
}

.md-typeset .admonition {
    font-size: .8rem;
}

.md-typeset .admonition.example {
  color: #14741F;
}

.md-typeset .admonition.question {
  color: teal;
}

.md-typeset .admonition.danger {
  color: red;
}

/*
.md-typeset .admonition.info {
  background-color: #ffe5e5;
}*/

.md-typeset details {
    font-size: 1rem;
}
/*
:root {
  --md-admonition-icon--pied-piper: url('data:image/svg+xml;charset=utf-8,<?xml version="1.0" encoding="UTF-8" standalone="no"?>,<svg,   xmlns:dc="http://purl.org/dc/elements/1.1/",   xmlns:cc="http://creativecommons.org/ns#",   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#",   xmlns:svg="http://www.w3.org/2000/svg",   xmlns="http://www.w3.org/2000/svg",   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd",   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape",   viewBox="0 0 22.586666 30.84",   height="30.84",   width="22.586666",   xml:space="preserve",   id="svg2",   version="1.1",   sodipodi:docname="bc-book.svg",   inkscape:version="0.92.5 (2060ec1f9f, 2020-04-08)"><sodipodi:namedview,     pagecolor="#ffffff",     bordercolor="#666666",     borderopacity="1",     objecttolerance="10",     gridtolerance="10",     guidetolerance="10",     inkscape:pageopacity="0",     inkscape:pageshadow="2",     inkscape:window-width="1920",     inkscape:window-height="1016",     id="namedview27",     showgrid="false",     inkscape:zoom="30.609598",     inkscape:cx="9.2340659",     inkscape:cy="18.142321",     inkscape:window-x="0",     inkscape:window-y="27",     inkscape:window-maximized="1",     inkscape:current-layer="g12" /><metadata,     id="metadata8"><rdf:RDF><cc:Work,         rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type,           rdf:resource="http://purl.org/dc/dcmitype/StillImage" /></cc:Work></rdf:RDF></metadata><defs,     id="defs6" /><g,     transform="matrix(1.3333333,0,0,-1.3333333,0,30.84)",     id="g10"><g,       transform="scale(0.1)",       id="g12"><path,         id="path14",         style="fill:#ffc0cb;fill-opacity:1;fill-rule:nonzero;stroke:none",         d="M 5.34375,184.703 C 26.4805,206.895 83.3906,229 97.0195,228.031 c 0,-20.461 26.5785,-33.453 49.4025,-33.117 C 96.6797,150.574 49.3047,147.496 6.69531,169.348" /><path,         id="path16",         style="fill:none;stroke:#000000;stroke-width:6;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1",         d="M 5.34375,184.703 C 26.4805,206.895 83.3906,229 97.0195,228.031 c 0,-20.461 26.5785,-33.453 49.4025,-33.117 C 96.6797,150.574 49.3047,147.496 6.69531,169.348" /><path,         id="path18",         style="fill:#ffff00;fill-opacity:1;fill-rule:nonzero;stroke:none",         d="M 5.34375,184.703 C 11.4609,176.184 26.8203,169.348 42.4688,170.359 61.582,177.535 117.816,194.578 146.422,194.914 142.328,156.059 151.863,87.125 166.207,62.9102 151.863,49.5781 74.5313,21.6094 59.1758,23.3359 45.2109,21.9453 26.1445,29.1172 20.3203,40.043 7.70703,84.3828 -1.15234,158.758 5.34375,184.703" /><path,         id="path20",         style="fill:none;stroke:#000000;stroke-width:6;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1",         d="M 5.34375,184.703 C 11.4609,176.184 26.8203,169.348 42.4688,170.359 61.582,177.535 117.816,194.578 146.422,194.914 142.328,156.059 151.863,87.125 166.207,62.9102 151.863,49.5781 74.5313,21.6094 59.1758,23.3359 45.2109,21.9453 26.1445,29.1172 20.3203,40.043 7.70703,84.3828 -1.15234,158.758 5.34375,184.703 Z" /><path,         id="path22",         style="fill:none;stroke:#000000;stroke-width:6;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1",         d="M 42.4688,170.359 C 39.7695,126.699 48.6289,62.9102 59.1758,23.3359" /><path,         id="path24",         style="fill:none;stroke:#000000;stroke-width:4;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1",         d="M 139.84,89.7422 C 145.66,68.3945 105.922,52.8672 92.2109,74.5117" /><path,         id="path26",         style="fill:#ffff00;fill-opacity:1;fill-rule:nonzero;stroke:none",         d="m 101.531,123.07 c 38.223,7.129 46.407,-18.437 6.836,-27.9723" /><path,         id="path28",         style="fill:none;stroke:#000000;stroke-width:4;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1",         d="m 101.531,123.07 c 38.223,7.129 46.407,-18.437 6.836,-27.9723" /><path,         id="path30",         style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none",         d="m 120.855,170.359 c 2.743,-4.765 2.743,-12.234 1.731,-16.367 -1.016,-4.133 -3.082,-4.976 -5.106,-1.351 -2.066,3.586 -4.132,11.644 -3.417,16.371 0.675,4.722 4.093,6.117 6.792,1.347" /><path,         id="path32",         style="fill:none;stroke:#000000;stroke-width:4;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1",         d="m 120.855,170.359 c 2.743,-4.765 2.743,-12.234 1.731,-16.367 -1.016,-4.133 -3.082,-4.976 -5.106,-1.351 -2.066,3.586 -4.132,11.644 -3.417,16.371 0.675,4.722 4.093,6.117 6.792,1.347" /><path,         id="path34",         style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none",         d="m 77.2734,159.352 c 6.2461,0.632 6.836,-11.731 4.9805,-18.141 -1.8164,-6.414 -6.0742,-6.836 -8.3945,-0.844 -2.3633,5.949 -2.7852,18.352 3.414,18.985" /><path,         id="path36",         style="fill:none;stroke:#000000;stroke-width:4;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1",         d="m 77.2734,159.352 c 6.2461,0.632 6.836,-11.731 4.9805,-18.141 -1.8164,-6.414 -6.0742,-6.836 -8.3945,-0.844 -2.3633,5.949 -2.7852,18.352 3.414,18.985" /><path,         id="path38",         style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1",         d="m 125.242,177.492 c -3.84,8.477 -16.961,3.207 -18.437,-6.457" /><path,         id="path40",         style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1",         d="m 82.2539,163.441 c -3.7969,8.481 -16.9609,3.207 -18.3945,-6.453" /><text,         xml:space="preserve",         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:20px;line-height:1.25;font-family:monospaceO;-inkscape-font-specification:monospaceO;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:7.5",         x="57.234238",         y="48.276299",         id="text31",         transform="matrix(-0.14538272,0.98937549,0.98937549,0.14538272,0,0)"><tspan,           sodipodi:role="line",           id="tspan29",           x="57.234238",           y="48.276299",           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:20px;font-family:"Latin Modern Roman";-inkscape-font-specification:"Latin Modern Roman, ";stroke-width:7.5">Définition</tspan></text>,</g></g></svg>')
}
.md-typeset .admonition.pied-piper,
.md-typeset details.pied-piper {
  border-color: rgb(43, 155, 70);
}
.md-typeset .pied-piper > .admonition-title,
.md-typeset .pied-piper > summary {
  background-color: rgba(43, 155, 70, 0.1);
  border-color: rgb(43, 155, 70);
}
.md-typeset .pied-piper > .admonition-title::before,
.md-typeset .pied-piper > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--pied-piper);
          mask-image: var(--md-admonition-icon--pied-piper);
}*/
